<dx-diagram [simpleView]="true" pageColor="#f0f0f0">
  <dxo-nodes [dataSource]="dataSource" keyExpr="ID" parentKeyExpr="Parent_ID" textExpr="Task_Name">
  </dxo-nodes>
  <dxo-default-item-properties textStyle="font-family: 'Courier New', monospace;">
  </dxo-default-item-properties>
  <dxo-properties-panel>
    <dxi-tab>
      <dxi-group title="Object Properties" [commands]="['lineStyle', 'lineColor', 'fillColor']"></dxi-group>
    </dxi-tab>
  </dxo-properties-panel>
  <dxo-toolbox [showSearch]="false">
    <dxi-group category="general" [shapes]="['text', 'rectangle']"></dxi-group>
  </dxo-toolbox>
</dx-diagram>