<div id="app-container">
  <dx-diagram
    id="diagram"
    units="in"
    [simpleView]="true"
    [readOnly]="false"
    [showGrid]="true"
    [snapToGrid]="true"
    [gridSize]="0.125"
    viewUnits="in"
    [zoomLevel]="1"
    autoZoomMode="fitWidth"
    [fullScreen]="false"
    pageOrientation="landscape"
    pageColor="#f4f4f4"
    (onContentReady)="onContentReady()"
  >
    <dxo-diagram-nodes
      [dataSource]="nodes"
      keyExpr="id"
      textExpr="text"
      typeExpr="type"
    ></dxo-diagram-nodes>
    <dxo-diagram-edges
      [dataSource]="edges"
      keyExpr="id"
      fromExpr="from"
      toExpr="to"
    ></dxo-diagram-edges>
    <dxo-diagram-toolbox>
      <dxi-diagram-group category="general"></dxi-diagram-group>
      <dxi-diagram-group category="flowchart"></dxi-diagram-group>
      <dxi-diagram-group category="orgChart"></dxi-diagram-group>
      <dxi-diagram-group category="containers"></dxi-diagram-group>
      <dxi-diagram-group category="custom"></dxi-diagram-group>
    </dxo-diagram-toolbox>
    <dxo-diagram-context-menu [enabled]="true"></dxo-diagram-context-menu>
    <dxo-diagram-context-toolbox [enabled]="true"></dxo-diagram-context-toolbox>
    <dxo-diagram-properties-panel
      visibility="auto"
    ></dxo-diagram-properties-panel>
    <dxo-diagram-history-toolbar [visible]="true"></dxo-diagram-history-toolbar>
    <dxo-diagram-view-toolbar [visible]="true"></dxo-diagram-view-toolbar>
    <dxo-diagram-main-toolbar [visible]="true"></dxo-diagram-main-toolbar>
  </dx-diagram>
</div>
